<div class='container'>
  <div class='row'>
    <div class='col-11 text-center'>
      <h1>会員情報編集</h1>
      <%= form_with model: @end_user,url: end_users_information_update_path(@end_user), local: true do |f| %>
        <div class='end_user-field'>
          <%= f.label :"新しいプロフィール画像を登録する際はこちらから" %>
          <%= f.file_field :profile_image,placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
        <div class='end_user-field'>
          <%= f.label :"現在設定しているプロフィール画像" %>
          <%= image_tag @end_user.get_profile_image(100, 100), size:'100x100' %>
        </div>
        <div class='end_user-field'>
          <%= f.label :"名前" %></br>
          <%= f.text_field :last_name, autofocus: true %>
          <%= f.text_field :first_name, autofocus: true %>
        </div>
        <div class='end_user-field'>
          <%= f.label :"フリガナ" %></br>
          <%= f.text_field :last_name_kana, autofocus: true %>
          <%= f.text_field :first_name_kana, autofocus: true %>
        </div>
        <div class='end_user-field'>
          <%= f.label :"ログイン名" %>
          <%= f.text_field :login_name, autofocus: true %>
        </div>
        <div class='end_user-field'>
          <%= f.label :"自己紹介文" %>
          <%= f.text_field :introduction,placeholder: "100文字まで", autofocus: true %>
        </div>
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        <%= link_to '退会する', end_users_unsubscribe_path, class: "btn btn-secondary" %>
      <% end %>
      <div class ='mail_password mt-5'>
        <p>メールアドレス、パスワードの変更をしたい方は</p><br>
        <p><%= link_to 'こちら', edit_end_user_registration_path %>から</p>
      </div>
    </div>
  </div>
</div> 