<h1>役詳細</h1>

<%= image_tag @mahjong_hand.image, size: '500x200' %>
<table>
  <tbody>
    <tr>
      <td>役名</td>
      <td><%= @mahjong_hand.name %></td>
    </tr>
    <tr>
      <td>役説明</td>
      <td><%= @mahjong_hand.describe %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= @mahjong_hand %></td>
    </tr>
  </tbody>
</table>
<%= link_to "編集する", edit_admin_mahjong_hand_path(@mahjong_hand.id), class: 'btn btn-success' %>