<div class='container'>
  <div class='row'>
    <div class='col-9 mx-auto text-center'>
      <h1>編集画面</h1>
      
      <%= form_with model: @recruitment, local: true do |f| %>
        <h4>タイトル</h4>
          <%= f.text_field :title %>
        <h4>本文</h4>
          <%= f.text_area :comment %></br>
          <%= f.submit '保存' %>
      <% end %>
      <%= button_to '削除', recruitment_path(@recruitment), method: :delete, data: { confirm: '本当に消しますか？' } %>
      <%= link_to 'コメント詳細', recruitment_path, class: "back" %>
    </div>
  </div>
</div> 